<section class="headLine">
  <div class="contentWrapper">
    <h2>{{ 'app-landingPage.job' | translate}}</h2>
    <h1>Christian Duus</h1>
    <div class="buttonDiv">
      <button ><a class="buttonA" href="#projects">Check my work</a></button>
      <button ><a class="buttonA" href="#contact">Contact me</a></button>
    </div>
    
      <div class="edgeLine-left">
        <button class="arrowDown"><a href="#contact"><img class="arrowDownImg" src="../../assets/img/landingPage/arrow_down.svg" alt=""></a></button>
        <div class="greenLineDown"></div>
      </div>
      <div class="edgeLine-right">
        <a class="emailLandingpage" href="mailto:kontakt@christian-duus.de"><img src="../../assets/img/landingPage/mail.svg" alt=""></a>
        <a href="https://github.com/ChrDuus" target="_blank"><img src="../../assets/img/landingPage/github_green.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/christian-duus-47a102357/" target="_blank"><img src="../../assets/img/landingPage/linkedin_green.svg" alt=""></a>
        <div class="whiteLineDown"></div>
      </div>
    
  </div>
  <section class="bannerSection">
    <div class="bannerWrapper">
      <div class="banner">
        <div class="staticText">
          <p>{{ 'app-landingPage.bannerRemote' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerFrontEnd'| translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerWork' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerBased' | translate}}</p>
          <p>•</p>
        </div>
        <div class="scrollText">
          <p>{{ 'app-landingPage.bannerRemote' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerFrontEnd' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerWork' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerBased' | translate}}</p>
          <p>•</p>
        </div>  
        <div class="scrollText">
          <p>{{ 'app-landingPage.bannerRemote' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerFrontEnd' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerWork' | translate}}</p>
          <p>•</p>
          <p>{{ 'app-landingPage.bannerBased' | translate}}</p>
          <p>•</p>
        </div>              
      </div>
    </div>
  </section>
</section>
