<section class="headLine">
  <div class="contentWrapper">
    <h2>Frontend Developer</h2>
    <h1>Christian Duus</h1>
    <div class="buttonDiv">
      <button>Check my work</button>
      <button>Contact me</button>
    </div>
    
      <div class="edgeLine-left">
        <button class="arrowDown"><img class="arrowDownImg" src="../../assets/img/landingPage/arrow_down.svg" alt=""></button>
        <div class="greenLineDown"></div>
      </div>
      <div class="edgeLine-right">
        <p class="emailLandingpage">Emailadress</p>
        <a href="https://github.com/ChrDuus" target="_blank"><img src="../../assets/img/landingPage/github_green.svg" alt=""></a>
        <a href=""><img src="../../assets/img/landingPage/linkedin_green.svg" alt=""></a>
        <div class="whiteLineDown"></div>
      </div>
    
  </div>
  <section class="bannerSection">
    <div class="bannerWrapper">
      <div class="banner">
        <div class="staticText">
          <p>Available for remotework</p>
          <p>•</p>
          <p>Frontend Developer</p>
          <p>•</p>
          <p>Open to work & learn</p>
          <p>•</p>
          <p>Based in</p>
          <p>•</p>
        </div>
        <div class="scrollText">
          <p>Available for remote work</p>
          <p>•</p>
          <p>Frontend Developer</p>
          <p>•</p>
          <p>Open to work & learn</p>
          <p>•</p>
          <p>Based in</p>
          <p>•</p>
        </div>        
      </div>
    </div>
  </section>
</section>
