<header>
  <div class="navBarWrapper">
    <div class="navBar">
      <button
        id="lang-btn"
        class="language-toggle"
        (click)="toggleLanguageColor()" (click)="changeLanguage()"
      >
        <span #langBtnDe class="de">DE</span>
        <span #langBtnEn class="en active">EN</span>
      </button>
      <a href="#aboutMe">{{ 'app-header.menuBtnAboutMe' | translate}} </a>
      <a href="#skills">{{ 'app-header.menuBtnSkills' | translate}} </a>
      <a href="#projects">{{ 'app-header.menuBtnProjects' | translate}} </a>
    </div>

    <img class="logo" src="../../../assets/img/navBar/logo.svg" alt="" />
  </div>

  <div class="burgerMenu" (click)="toggleMobileMenu()">
    <div class="burgerBar"></div>
    <div class="burgerBar"></div>
    <div class="burgerBar"></div>
  </div>
  
  
  <div [ngClass]="['overlayBackground', mobileMenuActive ? 'active' : '']">
    <div class="menuOverlay">
      <div class="navBarMobile">
        <button id="lang-btn" class="language-toggle" (click)="toggleLanguageColor()">
          <span #langBtnDe class="de">DE</span>
          <span #langBtnEn class="en active">EN</span>
        </button>
        <a href="">{{ 'app-header.menuBtnAboutMe' | translate}}</a>
        <a href="">{{ 'app-header.menuBtnSkills' | translate}}</a>
        <a href="">{{ 'app-header.menuBtnProjects' | translate}}</a>
      </div>
    </div>
  </div>
</header>
