<section class="aboutMeSection">
  <div class="contentWrapper">
    <div class="imgDiv">
      
      <img src="../../assets/img/aboutME/Photo.png" alt="" />
      <div class="lineDiv"></div>
    </div>
    <div class="aboutMeWrapper">
      <h3>Who I am</h3>
      <div class="aboutMeDiv">
        <h2>About me</h2>
        <p>Hey there, I'm Lukas! Write some information about yourself
           that is IT related. Why are you passionate about coding? What 
           is your source of inspiration for improving your programming skills?</p>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/marker.svg" alt="" />
          <p>Where are you based? Would you be open to working remotely or potentially relocating?</p>
        </div>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/brain.svg" alt="" />
          <p>Show that you are open-minded. Are you enthusiastic about learning
             new technologies and continually improving your skills?</p>
        </div>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/text_paragraph.svg" alt="" />
          <p>A brief description of your problem-solving approach. 
            Do you learn from each challenge as you search for the
             most efficient or elegant solution? You can include some
              keywords like: analytical thinking, creativity, persistence and  collaboration.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
