<section class="aboutMeSection">
  <div class="contentWrapper">
    <div class="imgDiv">
      <img src="" alt="" />
      <div class="lineDiv"></div>
    </div>
    <div class="aboutMeWrapper">
      <h3>Who I am</h3>
      <div class="aboutMeDiv">
        <h2>About me</h2>
        <span>Hey there bla bla bla bla hans Wurst mein Name</span>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/marker.svg" alt="" />
          <p>Where are you based bla bla bla etc</p>
        </div>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/brain.svg" alt="" />
          <p>Open Mindet etc pp und so weiter</p>
        </div>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/text_paragraph.svg" alt="" />
          <p>Ich bin ein Platzhalter für jede Menge Text</p>
        </div>
      </div>
    </div>
  </div>
</section>
