<section class="aboutMeSection">
  <div class="contentWrapper">
    <div class="imgDiv">
      
      <img src="../../assets/img/me/IMG_9766.jpg" alt="" />
      <div class="lineDiv"></div>
    </div>
    <div class="aboutMeWrapper">
      <h3>{{"app-about-me.whoAmI"| translate}}</h3>
      <div class="aboutMeDiv">
        <h2>{{"app-about-me.aboutMe"| translate}}</h2>
        <p>{{"app-about-me.aboutMeText"| translate}}</p>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/marker.svg" alt="" />
          <p>{{"app-about-me.aboutMeBased"| translate}}</p>
        </div>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/brain.svg" alt="" />
          <p>{{"app-about-me.aboutMeMind"| translate}}</p>
        </div>
        <div class="aboutMePs">
          <img src="../../assets/img/aboutME/text_paragraph.svg" alt="" />
          <p>{{"app-about-me.aboutMeSkills"| translate}}
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
