<section>
  @if(showOverlay){
    <div class="overlay">
    <div class="overlay-content">
      <h2>{{ 'app-contact.successMessage' | translate }}</h2>
      
      <button (click)="closeOverlay()">{{ 'app-contact.closeButton' | translate }}</button>
    </div>
  </div>
}
  <div class="contentWrapper">
    <div class="contactDiv">
      <h3>{{ 'app-contact.h3ContactMe' | translate}}</h3>
      <h2>{{ 'app-contact.h2workTogether' | translate}}</h2>
      <h3>{{ 'app-contact.h3Problem' | translate}}</h3>
      <span
        >{{ 'app-contact.spanEcourage' | translate}}</span
      >
      <span
        >{{ 'app-contact.spanNeedMe' | translate}}
        <p>{{ 'app-contact.pTalk' | translate}}</p></span
      >
    </div>

    <div class="formDiv">
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm); ">
            <div class="inputText">
              <label for="name">{{ 'app-contact.formLabelName' | translate}}</label>
              <input
                #name="ngModel"
                name="name"
                required
                minlength="3"
                [(ngModel)]="contactData.name"
                type="text"
                id="name"
                (blur)="validateForm('name')"
                [class.invalid]="invalidFields.includes('name')"
                [attr.placeholder]="invalidFields.includes('name') ?( 'app-contact.formInputPlaceholderNameInvalid' | translate ) : ( 'app-contact.formInputPlaceholderName' | translate )"
              />
            </div>
          
            <div class="inputText">
              <label for="eMail">{{ 'app-contact.formLabelMail' | translate}}</label>
              <input
                #email="ngModel"
                name="email"
                required
                email
                [(ngModel)]="contactData.email"
                type="email"
                id="eMail"
                (blur)="validateForm('email')"
                [class.invalid]="invalidFields.includes('email')"
                [attr.placeholder]="invalidFields.includes('email') ? ( 'app-contact.formInputPlaceholderMailInvalid' | translate ) : ( 'app-contact.formInputPlaceholderMail' | translate )"
              />
            </div>
          
            <div class="inputText">
              <label for="message">{{ 'app-contact.formLabelMessage' | translate}}</label>
              <textarea
                #message="ngModel"
                name="message"
                required
                minlength="10"
                [(ngModel)]="contactData.message"
                id="message"
                (blur)="validateForm('message')"
                [class.invalid]="invalidFields.includes('message')"
                [attr.placeholder]="invalidFields.includes('message') ? ( 'app-contact.formInputPlaceholderMessageInvalid' | translate ) : ( 'app-contact.formInputPlaceholderMessage' | translate )"
              ></textarea>
              <div class="checkboxDiv">
                
                <input [(ngModel)]="contactData.privacyPolicy"
                 type="checkbox" name="privacyPolicy"
                  #privacyPolicy = "ngModel"
                  (blur)="validateForm('checkbox')"
                  [class.invalid]="invalidFields.includes('checkBox')"
                  >
               
                  <p>{{ 'app-contact.formPrivacyPolicyFront' | translate }} <a [routerLink]="'/imprint'">{{ 'app-contact.formPrivacy' | translate }}</a> {{ 'app-contact.formPrivacyPolicyBack' | translate }}</p>
              </div>
             
              <button type="submit" [disabled]="!contactForm.valid || !contactData.privacyPolicy">{{ 'app-contact.formBtn' | translate}}</button>
              
            </div>  
           
          </form>
          
      </div>      
  </div>

</section>
