<section class="skillsSection">
  <div class="contentWrapper">
    <div class="skillSet">
      <h3 class="overContent">{{"app-skills.h3Technologies" | translate}}</h3>
      <div class="textDiv">
        <h2>{{"app-skills.h2SkillSet" | translate}}</h2>
        <span class="skillIntroduction">{{"app-skills.spanIntroduction" | translate}}</span>
        <h3>{{"app-skills.h3youNeed" | translate}} <span>{{"app-skills.anotherSkill?" | translate}}</span></h3>
        <span>{{"app-skills.spanFeelFree" | translate}}</span>
      </div>
      <button>{{"app-skills.btnLetsTalk" | translate}}</button>
    </div>

    <div class="skillButtons">
      @for (item of imgURLS; track $index) {
      <div class="skillDiv">
        <img src="{{ item.url }}" alt="" />
        <p>{{ item.name }}</p>

        @if ($index == imgURLS.length - 1) {
        <div class="tooltip">
          <span>{{"app-skills.toolTip1" | translate}}<br> {{"app-skills.toolTip2" | translate}}</span>
          <div>
            <div>
              <img src="../../assets/img/skills/react.svg" alt="" />
              <p>React</p>
            </div>
            <div>
              <img src="../../assets/img/skills/vuejs.svg" alt="" />
              <p>Vue.js</p>
            </div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</section>
