<section class="skillsSection">
  <div class="contentWrapper">
    <div class="skillSet">
      <h3 class="overContent">Technologies</h3>
      <div class="textDiv">
        <h2>Skill Set</h2>
        <span class="skillIntroduction">A short introduction of your skills. Highlight your experience of  using
           different front-end technologies and emphasise your openness to
            learning and adapting to new technologies. Show how important it
             is for you to keep up with the rapid changes in web development.</span>
        <h3>You need <span>another Skill?</span></h3>
        <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
      </div>
      <button>Let's talk</button>
    </div>

    <div class="skillButtons">
      @for (item of imgURLS; track $index) {
      <div class="skillDiv">
        <img src="{{ item.url }}" alt="" />
        <p>{{ item.name }}</p>

        @if ($index == imgURLS.length - 1) {
        <div class="tooltip">
          <span>I have special<br> interests in learning</span>
          <div>
            <div>
              <img src="../../assets/img/skills/react.svg" alt="" />
              <p>React</p>
            </div>
            <div>
              <img src="../../assets/img/skills/vuejs.svg" alt="" />
              <p>Vue.js</p>
            </div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</section>
