<section>
  <div class="footerWrapper">
    
      <div class="logoDiv">
        <a href="#header"
          ><img src="../../../assets/img/navBar/logo.svg" alt=""
        /></a>
        <span>Web Developer</span>
        <span>Büsum, Germany</span>
      </div>
      <div class="copyright">© Christian Duus 2025</div>
      <div class="linkDiv">
        <a target="_blank" href="https://github.com/ChrDuus">GitHub</a>
        <a target="_blank" href="https://www.linkedin.com/in/christian-duus-47a102357/">LinkedIn</a>
        <a href="mailto:kontakt@christian-duus.de">Email</a>
        <a [routerLink]="'/imprint'">{{ "app-footer.legalNotice" | translate }}</a>

      </div>
    
    
  </div>
</section>
